/*
 * Theme Colors
 */

$black: #000;
$white: #fff;
$success: #50E3C2;
$warning: #F45165;
$gray-lightest: #e9e9e9;
$gray-lighter: #cccccc;
$gray-light: #aaaaaa;
$gray-medium: #7a7a7a;
$gray-dark: #4A4A4A;
$gray-darker: #222;


/*
 * Settings
 */
$transition-speed-fast: 100ms;
$transition-speed-normal: 300ms;
$transition-speed-slow: 500ms;
$mobile-footer-height: 80px;

/*
 * Grid
 */
$tablet-small-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;
$gutter-width: 20px;
$gutter-width-half: $gutter-width / 2;

/*
 * Typography
 */

$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-serif: 'Georgia', serif;
//$font-family-fancy: 'Roboto Slab';
$font-family-fancy: 'Lato';
$font-family-base: $font-family-sans-serif;
$font-color-base: $gray-dark;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

$font-size-smallest: 11px;
$font-size-smaller: 13px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-larger: 24px;
$font-size-largest: 36px;

$line-height-base: 1.428571429; // 20/14
$line-height-heading: 1.1;