.article-detail,
.article-listing{
    background: $white;
    padding: $gutter-width*2;
}

.article-listing{

    h1{
        font-size: 50px;
        padding-bottom: $gutter-width;
        border-bottom: solid 1px $gray-lighter;
        margin-bottom: $gutter-width;
    }

    .article{
        @extend .shingle;
        margin: $gutter-width 0;

        h2{
            margin-bottom: $gutter-width-half;
        }

        p, pre{
            margin: 0;
        }        
    }
}

.article{

    h1{
        margin-bottom: $gutter-width;
    }

    h2{
        margin-bottom: $gutter-width;
    }

    p, pre{
        margin: 0 0 $gutter-width;
    }

    .byline{
        font-size: $font-size-small;
        font-weight: $font-bold;
    }
}