.btn {
    position: relative;    
    display: inline-block;
    padding: 12px 30px;
    margin: 0;
    font-weight: $font-medium;
    font-size: $font-size-large;
    line-height:1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background: none;
    border: none;
    border-radius: 2px;

    &:focus{
        outline: 0;
        box-shadow: inset 0px 0px 10px rgba(0,0,0,.35);
    }
}

.btn-blue{
    background-color: $moviefone-blue;
    color: $white;

    &:hover{
        background-color: $moviefone-blue-hover;
    }
}

.btn-default{

    &:hover{
        background-color: $gray-lightest;
    }
}