.panel-scroller{
    height: 100%;
    width: 100%;

    .panel-background{
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
    }

    .panel{
        position: relative;
        z-index: 10;

        &:nth-child(2) {
            min-height: 100%;
        }
    }

    .panel-heading{
        padding-bottom: $gutter-large;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        // border-bottom: solid 1px $gray-lightest;
        margin: $gutter-huge 0 $gutter-large 0;

        &:first-child {
            margin-top: 0;
        }
    }
}

@include media-tablet{

    .panel-scroller{

        .panel-heading{
            font-size: 32px;
            // padding-bottom: 30px;
            // margin: 0 0 15px;
        }
    }
}