*,
:after,
:before{
    box-sizing:border-box;
}

html,
body{
    height:100%;
    background-color: $gray-darker;
}

body{
    min-height: 100%;
    padding-bottom:0;
    height:100%;
}

img{
    max-width:100%;
}

.shingle{
    background: $gray-lightest;
    padding: $gutter-width-half;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

.container {
    max-width: 100%;;
    padding-right: $gutter-width;
    padding-left: $gutter-width;
    padding-top: $gutter-width + 10;
    padding-bottom: $gutter-width;
    margin-right: auto;
    margin-left: auto;
}

.flex-columns {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;

    // .column {
    //     flex: 0 0 50%;
    // }

    .column-label {
        padding-bottom: 10px;
    }
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.list {

    .list-item {
        padding-bottom: $gutter-huge;
    }

    .list-item-left {
        padding-right: $gutter-width;
    }

    .list-item-right {
        min-width: 15%;
        text-align: right;
    }
}

@include media-tablet-small{

    .container{
        max-width: $tablet-small-width;
    }
}

@include media-tablet{

    .container{
        max-width: $tablet-width;
        padding-top: $gutter-width * 2;
        padding-bottom: $gutter-width * 2;
    }
}

@include media-desktop{

    .container{
        max-width: $desktop-width;
    }
}
