*,
:after,
:before{
    box-sizing:border-box;
}

html,
body{
    height:100%;
    background-color: $gray-darker;
}

body{
    min-height: 100%;
    padding-bottom:0;
    height:100%;
}

img{
    max-width:100%;
}

.container {
    max-width: 100%;;
    padding: $spacer-mobile-large;
    margin-right: auto;
    margin-left: auto;
}

.flex-columns {
    // display: flex;
    // justify-content: space-between;

    .column {
        margin-bottom: $spacer-mobile-large;
    }

    // .column-label {
    //     padding-bottom: $spacer-mobile;
    // }
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.list {

    .list-item {
        // @extend .flex-space;
        margin-bottom: $spacer-mobile-huge;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .list-item-left {
        // padding-right: $gutter-width;
    }

    .list-item-right {
        // min-width: 15%;
        // text-align: right;
    }
}

.bio {
    margin-bottom: 0;
}

.repos {

    .repo {
        border: solid 2px $gray-dark;
        padding: $spacer-mobile-large;
        margin-bottom: $spacer-mobile-large;
    }

    .list-item-right {
        font-weight: $font-bold;
        margin: $spacer-mobile-huge 0 0;
    }
}

.skills {

    // .skills-list {
    //     display: flex;

    //     ul:last-child {
    //         margin-left: $spacer-mobile-large;
    //     }
    // }

    .column {
        @extend .clearfix;
    }

    // ul {

    // }

    li {
        float: left;
        margin-right: 5px;

        &:after {
            content: ', ';
        }

        &:last-child:after {
            content: '';
        }
    }
}



/*
@include media-tablet-small{

    .container{
        max-width: $tablet-small-width;
    }
}

@include media-tablet{

    .container{
        max-width: $tablet-width;
        padding-top: $gutter-width * 2;
        padding-bottom: $gutter-width * 2;
    }
}

@include media-desktop{

    .container{
        max-width: $desktop-width;
    }
}
*/