*,
:after,
:before{
    box-sizing:border-box;
}

html,
body{
    height:100%;
    background-color: $gray-darker;
}

body{
    min-height: 100%;
    padding-bottom:0;
    height:100%;
}

img{
    max-width:100%;
}

.shingle{
    background: $gray-lightest;
    padding: $gutter-width-half;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

.container {
    max-width: 100%;;
    padding-right: $gutter-width;
    padding-left: $gutter-width;
    padding-top: $gutter-huge;
    padding-bottom: $gutter-width;
    margin-right: auto;
    margin-left: auto;
}

.popover{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    background: rgb(55, 55, 55);;
    color: $white;
    font-size: $font-size-smallest;
    line-height: 1;
    padding: 5px;
    border-radius: 5px;

    &:before{
        display: block;
        content: '';
        border: solid 6px transparent;
        border-bottom-color: rgb(55, 55, 55);;
        height: 12px;
        width: 12px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
    }
}

.flex-columns {
    display: flex;
    justify-content: space-between;

    .column-label {
        padding-bottom: 10px;
    }
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.list {

    .list-item {
        padding-bottom: $gutter-huge;
    }

    .list-item-left {
        padding-right: $gutter-width;
    }

    .list-item-right {
        min-width: 15%;
        text-align: right;
    }
}

// @media screen and (max-width: 630px) {
//      .skills {
//         -ms-flex-wrap:wrap;
//         flex-wrap: wrap
//     }
// }

@include media-tablet-small{

    .container{
        max-width: $tablet-small-width;
    }
}

@include media-tablet{

    .container{
        max-width: $tablet-width;
        padding-top: $gutter-width*2;
        padding-bottom: $gutter-width*2;
    }

    .shingle{
        padding: $gutter-width;
    }

    .popover{
        font-size: $font-size-smaller;
        padding: 8px;
    }
}

@include media-desktop{

    .container{
        max-width: $desktop-width;
    }
}
