.home-page {
    font-family: $font-family-fancy;

    .home-blurb {
        @include centered(fixed);
        text-align:center;
        width: 100%;
        text-transform: uppercase;

        h1 {
            text-transform: uppercase;
            font-size: 56px;
            font-size: 5.6vw;
            margin: 0 0 5px;
            font-weight: 700;

            b {
                font-size: 70px;
                font-size: 7vw;
            }
        }

        h4 {
            margin:0;
            font-weight: 700;
            line-height: $line-height-base;
            font-size: 40px;
            font-size: 4vw;

            b {
                font-size: 50px;
                font-size: 5vw;
            }
        }
    }

    .contact-info {
        font-weight: 300;
        text-align:center;
        width: 100%;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        font-size: 29px;
        font-size: 2.9vw;
        margin-bottom: 40px;
    }

    .arrow-down {
        position: absolute;
        bottom: 25%;
        height: 30px;
        width: 30px;
        left: 50%;
        margin-left: -15px;
    }
}


@include media-tablet-small {

    .home-page {

        .arrow-down{
            height: 60px;
            width: 60px;
            margin-left: -30px;
        }
    }
}
